run = "npm start"
entrypoint = "index.js"

[languages.javascript]
pattern = "**/*.{js,mjs,cjs,jsx,ts,tsx}"
syntax = "javascript"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-21_11"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false 