language = "nodejs"
run = "node index.js"

[packager]
packageSearch = true

[packager.features]
enabledForHosting = false
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx,*.json}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun" 